#storeOne{
  float: left;
  padding-right: 10px;
}

#storeTwo{
  float: left;
  padding-right: 10px;
}

#storeThree{
  float: left;
  padding-right: 10px;
}

#storeFour{
  float: left;
  padding-right: 10px;
}

#storeFive{
  float: left;
  padding-right: 10px;
}
