#container {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}

body {
  background-color: gray;
  width: auto;
  text-align: center;
}

table {
  padding-left: 55px;
}

th{
  text-align: left;
  background-color: black;
  color: white;
}
td {
  text-align: center;
  border: 2px solid black;
  width: 40px;
}

h1{
  text-align: center;
  border-bottom: 2px solid black;
}
