#container {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  background-image: url('images/mountains.png');
}

body {
  background-color: gray;
  width: auto;
  text-align: center;
}

h1 {
  color: blue;
  background-color: black;
  border-top: 4px solid blue;
  border-left: 4px solid blue;
  border-radius: 25px;
  padding: 10px;
}

h2 {
  color: blue;
  background-color: black;
  border-top: 4px solid blue;
  border-left: 4px solid blue;
  border-radius: 25px;
  padding: 10px;
}

h3 {
  color: blue;
  background-color: black;
  border-top: 4px solid blue;
  border-left: 4px solid blue;
  border-radius: 25px;
  padding: 10px;
}

ul.default {
  /*border-top: : 4px solid blue;*/
  border-left: 4px solid blue;
  color: white;
}

ol.default {
  /*border-top: : 4px solid blue;*/
  border-left: 4px solid blue;
  color: white;
}

p {
  color: white;
}
